<div class="grid grid-cols-12 text-center pt-20">
  <div class="col-start-2 col-span-10">
    <h1 class="text-6xl mb-8 500 font-black text-ctitulo font-ftitulo">
      <!-- Obtén el clima de la ciudad de tu prefencia -->
      Clima
    </h1>

    <div class="flex justify-center items-center mb-4">
      <svg
        class="duration-0 animate-bounce  w-6 h-6 text-ctexto dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1v12m0 0 4-4m-4 4L1 9"
        />
      </svg>
    </div>

    <input
      #txtBusqueda
      class="bg-slate-100 w-full py-2 text-center rounded-3xl"
      type="text"
      (input)="onTeclaPresionada()"
      placeholder="Escriba la ciudad"
    />
  </div>
</div>
